.character {
  -webkit-box-shadow: var(--card-shadow);
  -moz-box-shadow: var(--card-shadow);
  box-shadow: var(--card-shadow);
  padding: 1rem 2rem;
  background: rgb(255, 255, 255), var(--tyranny-url);
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    var(--tyranny-url);
  background-size: cover;

  p {
    margin: 1rem 0;
  }

  &__name {
    font-size: 3rem;
  }

  &__summary {
    font-size: 1.5rem;
  }
}
