@import "../../../styles/mixins";

$tasha-url: url("../../../assets/backdrops/tashas-cauldron-of-games.jpg");
$annihilation-url: url("../../../assets/backdrops/modules-of-annihilation.jpg");

.home-navigation {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__background {
    min-height: 50vh;
    background-blend-mode: multiply;
    transition: all 0.5s;
    z-index: 2;
    font-family: "Bontang";
    font-size: 3rem;
    color: #f0f0f0;
    text-shadow: 0 0 2rem #3e5151;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include layout(desktop) {
      font-size: 6rem;
    }

    &:hover {
      transform: scale(1.1);
      z-index: 5;
    }
  }

  &__game {
    background: #2c3e50, $tasha-url;
    background: -webkit-linear-gradient(to right, #fd746c, #2c3e50), $tasha-url;
    background: linear-gradient(to right, #fd746c, #2c3e50), $tasha-url;
    background-size: cover;
  }

  &__module {
    background: #3e5151, $annihilation-url;
    background: -webkit-linear-gradient(to right, #decba4, #3e5151),
      $annihilation-url;
    background: linear-gradient(to right, #decba4, #3e5151), $annihilation-url;
    background-size: cover;
  }
}
