@import '../../../../styles/_functions';

.header {
  height: 3rem;
  width: 100%;
  box-shadow: var(--header-shadow);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;

  @include layout(desktop) {
    height: 4rem;
  }

  &__content {
    height: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;

    .logout-button {
      height: inherit;
      aspect-ratio: 1/1;
      padding: 1rem;
      border: none;
      background: none;
      color: var(--button-primary);
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
