@font-face {
  font-family: 'Kleymisska';
  src: url('../assets/fonts/Kleymisska.ttf');
}
@font-face {
  font-family: 'Bontang';
  src: url('../assets/fonts/Bontang.otf');
}
@font-face {
  font-family: 'Hundergaddemo';
  src: url('../assets/fonts/Hundergaddemo.ttf');
}
@font-face {
  font-family: 'NewspaperRegular';
  src: url('../assets/fonts/NewspaperRegular.ttf');
}
@font-face {
  font-family: 'OneVerseRegular';
  src: url('../assets/fonts/OneVerseRegular.ttf');
}
@font-face {
  font-family: 'RaichArtifex';
  src: url('../assets/fonts/RaichArtifex.otf');
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../assets/fonts/OpenSansRegular.ttf');
}
@font-face {
  font-family: 'Draconis';
  src: url('../assets/fonts/Draconis.ttf');
}
