@import 'src/styles/extendables';

.content {
  section {
    img {
      @extend .width-fill;
    }
  }
}

.game {
  p {
    margin: 1rem 0;
  }

  &__name {
    font-size: var(--font-size-huge);
    color: var(--header-red);
  }

  &__owner {
    color: var(--subtitle);
    font-size: var(--font-size-tiny);
  }

  &__description {
    font-size: var(--font-size-small);
  }

  &__image {
    height: 100%;
    div {
      background-size: cover;
      background-position: center;
      height: 100%;
    }
  }
}
