.character {
  -webkit-box-shadow: var(--card-shadow);
  -moz-box-shadow: var(--card-shadow);
  box-shadow: var(--card-shadow);
  padding: 1rem 2rem;
  background: rgb(255, 255, 255), var(--tyranny-url);
  background: var(--gradient-white-to-grey), var(--tyranny-url);
  background-size: cover;

  p {
    margin: 1rem 0;
  }

  &__name {
    font-size: var(--font-size-huge);
  }

  &__summary {
    font-size: var(--font-size-small);
  }

  &:hover {
    cursor: pointer;
    transition: all 0.15s;
    transform: scale(1.02);
  }
}

.overlay {
  position: relative;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
}
