form {
  height: -webkit-fill-available;

  .login-panel {
    height: -webkit-fill-available;
    justify-items: center;
    align-content: center;

    &__label {
      font-size: var(--font-size-large);
    }
  }
}
