@import 'src/styles/extendables';

form {
  @extend .height-fill;

  .login-panel {
    @extend .height-fill;

    justify-items: center;
    align-content: center;

    &__label {
      font-size: var(--font-size-large);
    }
  }
}
