:root {
  --tyranny-url: url('../../assets/backdrops/tyranny-of-player.jpg');
  --annihilation-url: url('../../assets/backdrops/modules-of-annihilation.jpg');
  --annihilation-small-url: url('../../assets/backdrops/modules-of-annihilation-small.jpg');
  --cauldron-url: url('../../assets/backdrops/tashas-cauldron-of-games.jpg');
  --cauldron-small-url: url('../../assets/backdrops/tashas-cauldron-of-games-small.jpg');
}
