<button *ngIf="attributes.type === 'button'" mat-button [color]="attributes.color" [disabled]="attributes.disabled"
  (click)="click.emit()">
  {{ attributes.label }}
</button>
<button *ngIf="attributes.type === 'raised-button'" mat-raised-button [color]="attributes.color"
  [disabled]="attributes.disabled" (click)="click.emit()">
  {{ attributes.label }}
</button>
<button *ngIf="attributes.type === 'flat-button'" mat-flat-button [color]="attributes.color"
  [disabled]="attributes.disabled" (click)="click.emit()">
  {{ attributes.label }}
</button>
<button *ngIf="attributes.type === 'stroked-button'" mat-stroked-button [color]="attributes.color"
  [disabled]="attributes.disabled" (click)="click.emit()">
  {{ attributes.label }}
</button>
<button *ngIf="attributes.type === 'icon-button'" mat-icon-button [color]="attributes.color"
  [disabled]="attributes.disabled" (click)="click.emit()">
  <mat-icon *ngIf="attributes.icon" [attr.aria-label]="attributes.label">{{ attributes.icon }}</mat-icon>
</button>
<button *ngIf="attributes.type === 'fab'" mat-fab [color]="attributes.color" [disabled]="attributes.disabled"
  (click)="click.emit()">
  <mat-icon *ngIf="attributes.icon" [attr.aria-label]="attributes.label">{{ attributes.icon }}</mat-icon>
</button>
<button *ngIf="attributes.type === 'mini-fab'" mat-mini-fab [color]="attributes.color" [disabled]="attributes.disabled"
  (click)="click.emit()">
  <mat-icon *ngIf="attributes.icon" [attr.aria-label]="attributes.label">{{ attributes.icon }}</mat-icon>
</button>