.message {
  position: absolute;
  width: -webkit-fill-available;

  & > ngb-alert {
    margin-block-end: 0;
  }

  .alert-custom {
    color: #000000;
    background-color: rgb(200, 240, 135);
    border-color: rgba(107, 107, 107, 0.5);
    border-radius: 0;
    text-align: center;

    &:hover {
      background-color: rgb(135, 240, 161);
      transition: background-color 0.5s ease-in-out;
      cursor: pointer;
    }
  }
}
