:root {
  --tyranny-url: url("../assets/backdrops/tyranny-of-player.jpg");
  --annihilation-url: url("../assets/backdrops/modules-of-annihilation.jpg");
  --cauldron-url: url("../assets/backdrops/tashas-cauldron-of-games.jpg");
}
