.sheet {
  background-color: rgba(11, 11, 11, 0.123);

  &__ac-speed {
    background-color: rgba(182, 0, 0, 0.507);
  }
  &__actions-feats-notes {
    background-color: rgba(54, 190, 54, 0.5);
  }
  &__attributes {
    background-color: rgba(24, 159, 168, 0.5);
  }
  &__conditions {
    background-color: rgba(99, 88, 255, 0.521);
  }
  &__defenses {
    background-color: rgba(188, 55, 214, 0.5);
  }
  &__hp {
    background-color: rgba(197, 120, 32, 0.555);
  }
  &__passives {
    background-color: rgba(214, 33, 154, 0.658);
  }
  &__proficiencies {
    background-color: rgba(255, 255, 255, 0.616);
  }
  &__resources {
    background-color: rgba(211, 200, 44, 0.651);
  }
  &__saving-throws {
    background-color: rgba(91, 248, 201, 0.623);
  }
  &__skills {
    background-color: rgba(192, 57, 97, 0.589);
  }
  &__token {
    background-color: rgba(13, 33, 146, 0.616);
  }

  &--left {
    border: solid 1px black;
  }
  &--right {
    border: solid 1px black;
  }
  &--middle {
    border: solid 1px black;
    &--center {
      border: solid 1px black;
    }
    &--left {
      border: solid 1px black;
    }
    &--right {
      border: solid 1px black;
      &--top {
        border: solid 1px black;
      }
      &--bottom {
        border: solid 1px black;
      }
    }
  }
}
