<wbhb-message *ngIf="unrecoverableError | async" [messageAttributes]="{ type: 'danger', dismissible: false }"
  (clicked)="reloadApp()">
  <div message-content>
    <div>
      We encountered a problem with updating to newest version! Please click here to reload.
    </div>
  </div>
</wbhb-message>

<wbhb-message *ngIf="updateAvailable | async" [messageAttributes]="{ type: 'info', dismissible: false }"
  (clicked)="activateUpdate()">
  <div message-content>
    <div>
      There is a new version available! Click here to update.
    </div>
  </div>
</wbhb-message>