<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="search-panel grid">
    <wbhb-input required class="grid__column--8--bd grid__column-start--3--bd grid__column--4--bm" name="search"
      type="search" [label]="inputLabel" [(ngModel)]="inputValue"></wbhb-input>
    <wbhb-button class="grid__column--2--bd grid__column--2--bm grid__column-start--6--bd grid__column-start--2--bm"
      [attributes]="{type: 'raised-button', color: 'primary', label: 'Search', disabled: !form.valid}">
    </wbhb-button>
  </div>
</form>