{{ character | json }}
<div class="content content--full-height">
  <div class="grid sheet">
    <div class="grid__column--3--bd grid__column--4--bm sheet--left">
      <div class="sheet__token">token</div>
      <div class="sheet__conditions">conditions</div>
      <div class="sheet__defenses">defenses</div>
      <div class="sheet__proficiencies">poficiencies and languages</div>
    </div>

    <div class="grid__column--9--bd grid__column--4--bm grid__column-start--4--bd sheet--right">
      <div class="grid">
        <div class="grid__column--12--bd grid__column--4--bm sheet__attributes">attributes</div>

        <div class="grid__column--12--bd grid__column--4--bm sheet--middle">
          <div class="grid">
            <div class="grid__column--3--bd grid__column--4--bm sheet--middle--left">
              <div class="sheet__saving-throws">saves</div>
              <div class="sheet__passives">passives</div>
              <div class="sheet__resources">resources</div>
            </div>

            <div class="grid__column--3--bd grid__column-start--4--bd grid__column--4--bm sheet--middle--center">
              <div class="sheet__skills">skills</div>
            </div>

            <div class="grid__column--6--bd grid__column-start--7--bd grid__column--4--bm sheet--middle--right">
              <div class="grid">
                <div class="grid__column--12--bd grid__column--4--bm sheet--middle--right--top">
                  <div class="grid">
                    <div class="grid__column--6--bd grid__column--2--bm sheet__ac-speed">ac & speed</div>
                    <div
                      class="grid__column--6--bd grid__column-start--7--bd grid__column-start--3--bm grid__column--2--bm sheet__hp">
                      hp</div>
                  </div>
                </div>

                <div class="grid__column--12--bd grid__column--4--bm sheet--middle--right--bottom">
                  <div class="sheet__actions-feats-notes">actions / feats / notes</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>