@import 'src/styles/extendables';

:host {
  @extend .width-fill;

  .input {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;

    input {
      @extend .width-fill;

      border: var(--default-border);
      box-shadow: var(--card-shadow);
      height: 4rem;

      text-align: center;
      font-family: inherit;
      cursor: text;
      font-size: 1.5rem;

      &:focus,
      &:valid {
        outline: none;
      }
    }

    &--error {
      input {
        border: var(--error-border);
        box-shadow: var(--error-shadow);
      }
    }

    label {
      color: red;
    }
  }
}
